html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
    font-family: 'nexa_bookregular';
    margin: 0;
    -webkit-touch-callout: none !important;
}

b {
    font-family: 'nexa_boldregular';
}
strong {
    font-family: 'nexa_heavyregular';
}
i {
    font-family: 'nexa_book_italicregular';
    font-size: 0.9em;
}

button {
    font-size: initial;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.left { float: left; }
.right { float: right; }

.scroll {
    -webkit-overflow-scrolling: touch;
}

.box {
    overflow: hidden;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
.title strong {
    display: block;
    font-size: 1.5em;
}

.topbar, button, .filteritem, .arrow-wrapper, #listbutton {
    cursor: pointer;
}

.topbar, .infobox, .map-infobox, .infobutton, .blue {
    overflow: hidden;
    background: #ff7074;
    color: #E5FFE3;
    z-index: 10;
}
.guidebutton, .infobutton, .circlebutton {
    border: none;
}
            
.topbar {
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1em;
    height: 3em;
}
.topbar .left {
    padding-right: 2em;
    height: 100%;
}
.topbar .left img {
    height: 100%;
    width: auto;
}
.topbar .right {
        line-height: 3em;
}

.arrowbox {
    -webkit-animation: 0.7s flipInY;
}
.arrow-wrapper {
    position: relative;
    text-align: center;
    height: 30px;
}
.arrow-down, .arrow-top {
    position: absolute;
    left: 50%;
    margin-left: -30px;
}
.arrow-down {                
    content: "";
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-top: 30px solid #ff7074;
    top. 0;
}
.arrow-top {                
    content: "";
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-bottom: 30px solid #ff7074;
    bottom: 0;
}

#splashscreen {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ff7074;
    color: #E5FFE3;
    text-align: center;
}
#splashscreen img {
    max-width: 100%;
    width: 26ex;
}
#splashscreen span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1em;
    -webkit-animation-iteration-count: infinite;
}

#topbar {
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
}

#listbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 3em 1em;
    bottom: 0;
    box-sizing: border-box;
}
#listbox .scroll {
    height: 100%;
    overflow-y: scroll;
}
#listbox .circlebutton {
    background: #E5FFE3;
    color: #ff7074;
}

#listbutton {
    z-index: 10;
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    padding: 1em;
    background: url("../img/menu-button.svg");
}

.listitem {
    position: relative;
    padding: 1.2em;
    border-bottom: 5px solid #E5FFE3;
}
.listitem:last-child {
    border-bottom: none;
}
.listitem a {
    display: block;
}
.listitem .circlebutton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.listitem .guidebutton {
    margin-top: 1em;
    max-width: 300px;
}

.listitem.minimized .guidebutton, .listitem.minimized .hideonminimized {
    display: none;
}

#filterbox {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    height: 100%;
    bottom: auto;
    box-sizing: border-box;
}
#filterbox .arrow-wrapper {
    padding-top: 30px;
}
#filterbox .inner {
    position: relative;
    height: calc(100% - 60px);
}
#filterbox .scroll {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 3em;
    padding-bottom: 3em;
    overflow-y: scroll;
}
#filterbox .bottom {
    width: 100%;
    left: 0;
    text-align: center;
}
#filterbox .bottom button {
    background: none;
    border: none;
    color: inherit;
}
#filterbox .bottom button.selected {
    border-bottom: 3px solid #E5FFE3;
}

#themap {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto!important;
    transition: top 0.5s;
}
#themap.slidden {
    top: 0;
}

#tweet-button {
}

.map-infobox {
    text-align: center;
    font-size: initial;
    padding: 1em 0.5em;
}
.map-infobox a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.guidebutton {
    display: inline-block;
    width: 100%;
    line-height: 3em;
    background: #E5FFE3;
    color: #ff7074!important;
    font-style: italic;
    font-size: larger;
    text-decoration: none;
}

.circlebutton {
    position: relative;
    padding: 0.75em;
    font-size: 1.5em;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-family: 'nexa_heavyregular';
}
.circlebutton:after, .circlebutton span {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1.5em;
}

.infobutton {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.75em;
    font-size: 1.5em;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-family: 'nexa_heavyregular';
}
.infobutton:after {
    content: "i";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1.5em;
}

.infobox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.infobox, .inner {
    padding: 3em 2em;
    box-sizing: border-box;
}
.box .bottom {
    position: absolute;
    bottom: 1em;
}

.filters {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.page {
    -webkit-animation-duration: 0.5s;
}
.filteritem {
    position: relative;
    float: left;
    width: 33%;
    height: 7em;
    border: 1px solid #E5FFE3;
    border-top: none;
    border-left: none;
}
.filteritem:hover {
    background: rgba(255,255,255,0.1);
}
.filters .filteritem:nth-last-child(-n+3) {
    border-bottom: none;
}
.filters .filteritem:nth-child(3n) {
    border-right: none;
}
.filteritem span {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}
.filteritem.selected:after {
    content: "x";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2em;
    line-height: 2em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

@media (max-height: 560px) {
    #filterbox .arrow-wrapper {
        padding-top: 10px;
    }
    #filterbox .inner {
        position: relative;
        height: calc(100% - 40px);
    }
}
@media (max-width: 620px) {
    .title strong {
        font-size: 1em;
    }
}
